@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
$primary: #509898;

.button {
  margin-top: 14px;
  padding: 8px 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px #3535354d;
  cursor: pointer;
  background-color: white;
  color: $primary;
  font-weight: 700;
  font-size: 24px;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }

  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}

.countdown_panel {
  margin: 0 4px;

  @include media-breakpoint-up(md) {
    margin: 0 8px;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 16px;
  }

  span {
    display: block;
    background-color: white;
    &:nth-child(1) {
      color: white;
      font-size: 48px;
      padding: 6px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-bottom: none;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      @include media-breakpoint-up(md) {
        padding: 12px;
        font-size: 72px;
      }

      @include media-breakpoint-up(lg) {
        padding: 24px;
        font-size: 128px;
      }
    }
    &:nth-child(2) {
      color: $primary;
      padding: 6px 0;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;

      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }
  }
}
